#footer-nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px dotted grey;
    margin-top: 1rem;
    padding-top: 1rem;
}

#footer-nav ul {
    list-style: none;
    padding-left: 1rem;
    line-height: 1.6;
}

#footer-nav ul a {
    color: rgb(250, 134, 92);
    text-decoration: none;    
}
body {
    background-color: rgb(177, 173, 173);
}

.nav-link {
    color: rgb(250, 134, 92);
}

p {
    font-size: 1.2rem ;
}


nav {
    font-size: 1.2rem;
}   


/* Estilo para o botão "Enviar" */
.btn-personalizado {
    background-color: rgb(250, 134, 92) !important;
        color: white !important; 
    border: none !important;
}

/* Efeito de Hover (quando o mouse passa por cima) */
.btn-personalizado:hover {
    /* Escurece um pouco a cor quando o mouse passa por cima */
    background-color: rgb(230, 84, 31) !important; 
}

