#footer-nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px dotted grey;
    margin-top: 1rem;
    padding-top: 1rem;
}

#footer-nav ul {
    list-style: none;
    padding-left: 1rem;
    line-height: 1.6;
}

#footer-nav ul a {
    color: rgb(250, 134, 92);
    text-decoration: none;    
}
body {
    background-color: rgb(177, 173, 173);
}

.nav-link {
    color: rgb(250, 134, 92);
}


nav {
    font-size: 1.2rem;
}   

img{
    margin-top: 1.5rem;
}

p {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.8rem;
    color: rgb(230, 84, 31);
    margin: 2rem ;
    text-align: center;
}